*{
    padding: 0;
    margin: 0;
}
.header{
    background-color: black;
    padding: 2.3%; 
    /* position: fixed;  
    width: 96%;
    top: 0; */
}

.navbar{ 
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.logo{
    color:red;
    font-size: 200%;
    text-decoration: underline;
}
.nav-right ul{
    display: flex;
    align-items: center;
    color: white;
    gap: 1%;
    list-style: none;
    
}
.nav-right{
    margin-right: 17%;
}
.menu1{
    color: white;
    text-decoration: none;
}
.menu{   
    padding: 3% 7%;     
    border-radius: 20px;
    transition: 0.3s ease;
    cursor:pointer;
    font-size:150%;
} 
.menu:hover{
    background-color: red;
    color:white;
}
.main1{
    background-color: black;
}
.desktop1{
    max-width:85%;
    margin-left: 10%; 
    display: flex;  
}
.up{
    margin-top: 10%;
}
#para1{
    color: white;
    font-size: 300%;
}
#para2{
    color: white;
    font-size: 300%;
    margin-top: 2%;
}
#para3{
    color: white;
    font-size: 200%;
    margin-top: 2%;
}
#para3-1{
    color: red;
    cursor: pointer;
}
#para4{
    color: white;
    font-size: 150%;
    margin-top: 3%;
    width: 90%;
}
.down{
    margin-top: 5%;
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
    gap: 30%;
    padding: 0 0 5% 0;
}
#img1{
    border-radius: 50%;  
    width: 50%;
    height: 60%;
    background: conic-; 
    margin-left: 40%;
}
#img1{
    box-shadow:0 0 5rem red;
}
#main-right{
    margin-top: 5%;  
}

#imgs{
    display: flex;
    align-items: center;
    gap: 10%;
    cursor: pointer;
}

#dawnl{
    background-color:red;
    padding: 2% 5%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
#dawnl:hover{
    box-shadow:0 0 1rem red ;
}
.image1:hover{
    box-shadow:0 0 1rem red ;
}
.image1{
    /* border: 3px solid white; */
    padding: 0px 2px;
    border-radius:50%;   
}
.main2{
    background-color: black;
    /*                                                          */
}
.desktop2{
    max-width:85%;
    margin-left: 8%;
    display: flex;
}
h2{
    margin-left: 37.5%;
    padding: 2%;
    font-size: 250%;
    color: red;
}
.main2-left{
    flex: 1;
    
}
.main2-right{
    flex: 1;
}
.verticle-line{
    width: 2px;
    height: 650px;
    background-color: white;
}
.horisentel-line{
    width: 33%;
}
#titre1{
    display: flex;
    align-items: center;
    gap: 12%;
    margin: 33% 0 0 0 ; 
}
.exp1{
    margin-left: 27.5%;
    width: 70%;
    color: white;
}
.para5{
    margin-top: 3%;
    margin-left: 27.5%;
    width: 50%;
    padding: 2% 2%;     
    border-radius: 20px;
    transition: 0.3s ease;
    cursor:pointer;
    background-color:#323846;
    border: 2px solid red;
    box-shadow:0 0 1rem red ;
    color:white;
}

.para5:hover{
    
}
.main2-down{
    margin-top: 30%;
}

.horisentel-line1{
    width: 18%;
}
#titre2{
    display: flex;
    align-items: center;
    gap: 12%;
    padding: 5% 0 0 0 ;
}
.exp2{
    color: white;
}
.para6{
    margin-top: 3%;
    width: 70%;
    margin-left: 20%;
    padding:2% 4%  ;     
    border-radius: 20px;
    transition: 0.3s ease;
    cursor:pointer;
    background-color:#323846;
    border: 2px solid red;
    box-shadow:0 0 1rem red ;
    color:white;
    
}
.para6:hover{
    background-color:#323846;
    border: 2px solid red;
}

.horisentel-line2{
    width: 18%;
}
#titre3{
    display: flex;
    align-items: center;
    gap: 12%;
    padding: 5% 0 0 0 ;
}
.exp3{
    color: white;
}
.para7{
    margin-top: 3%;
    width: 70%;
    margin-left: 20%;
    padding:2% 4%  ;     
    border-radius: 20px;
    transition: 0.3s ease;
    cursor:pointer;
    background-color:#323846;
    border: 2px solid red;
    box-shadow:0 0 1rem red ;
    color:white;
}
.para7:hover{
    background-color:#323846;
    border: 2px solid red;
}
#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}


.main3{
    background-color: black;
    padding: 0 0 2% 0;
}
.heading{
    margin-left: 45%;
}
.sp{
    color:red;
}

.main3 h3{
    color: white;
}


.skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 85%;
    margin-left: 8%;
}

.skills-row .skills-colum{
    flex:1 1 40rem ;
}

.skills-colum .title{
    font-size: 2rem;
    margin: 0 0 1.5rem;
}

.skill-content{
    position: relative;
    border:2px solid red;
    box-shadow:0 0 1rem red ;
    border-radius: .6rem;
    padding: 0rem 1.5rem;
}

.progress{
    padding: 1rem 0;
}

.progress h3{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.progress h3 span{
    color: white;
}

.progress .bar{
    height: 1rem;
    border-radius: .6rem;
    border: .1rem solid red ;
    padding: .2rem;
    margin: 1rem 0;
}

.progress .bar span{
    display: block;
    height: 100%;
    border-radius: 3rem;
    background-color: red;
}


.skills-colum:nth-child(1) .skill-content .progress:nth-child(1) .bar span{
    width: 90%;
} 


.skills-colum:nth-child(1) .skill-content .progress:nth-child(2) .bar span{
    width: 80%;
}

.skills-colum:nth-child(1) .skill-content .progress:nth-child(3) .bar span{
    width: 65%;
}

.skills-colum:nth-child(1) .skill-content .progress:nth-child(4) .bar span{
    width: 75%;
}

.skills-colum:nth-child(2) .skill-content .progress:nth-child(1) .bar span{
    width: 95%;
}

.skills-colum:nth-child(2) .skill-content .progress:nth-child(2) .bar span{
    width: 67%;
}

.skills-colum:nth-child(2) .skill-content .progress:nth-child(3) .bar span{
    width: 85%;
}

.skills-colum:nth-child(2) .skill-content .progress:nth-child(4) .bar span{
    width: 60%;
}







/* .main3{
    background-color: #050a1d;
    padding: 0 0 5% 0;
}
.skil{
    margin-left: 45%; 
    padding: 2%;
    font-size: 250%;
    color: #0987a7;
}
.desktop3{
    display: flex;
    align-items: center;
    justify-content:space-around;
} */

/* .main3-left{
    background-color: #323846;
    width: 25%;
    height: 400px;
    padding: 0 0 2% 0;
    box-shadow:0 0 1rem #0987a7 ;
}
#left2{
    margin-left: 38%;
    text-align: center;
    margin-top: 8%;
    color:#0987a7;
    font-size: 150%;
}
.para8{
    margin-left: 15%;
    margin-top: 10%;
    font-size: 150%;
    color: white;
} */

/* .main3-right{
    height: 400px;
    width: 50%;
    background-color: #323846;
    padding: 0 0 2% 0;
    box-shadow:0 0 1rem #0987a7 ;
}
#right2{
    margin-left: 38%;
    margin-top: 3%;
    margin-bottom: 2%;
    color:#0987a7;
    font-size: 150%;
} */
/* .devl{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-left: 5%;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: #050a1d;
    padding: 0 0 2% 0 ;
}
.right{
    width: 40%;
    background-color: #050a1d;
    padding: 1% ;  
}
h6{
    font-size: 150%;
    color: #0987a7;
    text-align: center;
} */
/* #css{
    width: 50%;
}
.one1{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9%;
}
.one1 img {
    width: 50px;
    height: 50px;
}
.one2{
    /* margin-top: 2%; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/* } */ 
    /*
.one3{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
}
.one4{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
} */
/* .numbers{
    display: flex;
    align-items: center;
    gap:5%;  
}
.longa{
    
}
.p1{
    background-color:#0987a7;
    color: #0987a7;
    border-radius: 50%;
    width: 20px;
    height: 20px;
} */

.slach{
    box-shadow:0 0 1rem red ;
}

.main4{
    background-color: black;
}
#projet{
    margin-left: 43%;
}
.por{
    width: 450px;
    height: 400px;
}
.desktop4{
    max-width:85%;
    margin-left: 8%; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.desktop4 .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow:0 0 1rem red ;
    overflow: hidden;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}


.portfolio-box .Portfolio-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1),red);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .Portfolio-layer{
    transform: translateY(0);
}
.white{
    color: white;
    margin-left: 4%;
    margin-top: 2%;   
}

.Portfolio-layer h4{
    font-size: 3rem;
}

.Portfolio-layer p{
    font-size: 1.6rem;
}

.Portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: white;
    border-radius: 50%;
    margin-top: 2%;
}

.Portfolio-layer a img{
    font-size: 2rem;
    width: 30px;    
}

.desktop4-1{
    width:60%;
    margin-left:20%;
}
.rating{
    font-size: 2rem;
    margin-top: 2%;
    color: hsl(36, 88%, 66%);
}
.testimonials-item{
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    width: 50%;
}
.testimonials-item .imfo{
    display: flex;
    align-items: center;
    gap: 2%;
}
/* #caste-1{
    padding: 0 0 2.1% 0;
}
#caste-2{
    padding: 0 0 2.1% 0;
}
#caste-4{
    padding: 0 0 2% 0;
} */

/* .caste-3{
    padding: 0 0 -3% 0;
} */

.testimonials-item img{
    max-width: 10%;
    border-radius: 50%;
    margin-left: 2%;
}
.testimonials-item .namme{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
    line-height:1.2;
}
.testimonials-item .job{
    text-transform: capitalize;
    color: hsl(0, 0%, 40%);
}
.testimonials-item p{
    margin-top: 20px;
    color: hsl(0, 0%, 40%);
}



.main5{
    background-color: black;
}

.main5 h2{
    margin-left: 43%;
}

.desktop5{
    margin-left: 38%;
    width: 30%;
}

.full, .add, .phone, .mes{
    width: 70%;
    padding: 3%;
    margin-left: 8%;
    font-size: 100%;
    margin-top: 1%;
    border: 2px solid red;
}

.mes{
    padding: 0 6% 30% 0;
}


.clics{
    margin-left: 38%;
    margin-top: 3%;
    width: 20%;
    padding: 2%;
    background-color: red;
    box-shadow:0 0 1rem red ;
}